{% extends "UI/base.html" %}

{% if request.user.is_authenticated %}

{% block content %}
<div class="update-container">
    <div class="update-box">
        <label>
            <h1>Account details</h1><br>
        </label>
        <p>
            Hi, {{request.user.username}}.
        </p>
        <p>
            You may update your personal details <a href="{% url 'website-account-update'  %}" style="color: #5DADE2;" >here</a><br>
            or change password <a href="{% url 'password_change'  %}" style="color: #5DADE2;" >here</a>.
        </p>


    </div>


    </form>
</div>
</div>

{% endblock content %}

{% else %}
<div class="update-container">
    None
</div>
{% endif %}