{% extends "UI/base.html" %}


{% block content %}
{% load static %}


<section class="msger">
  <main class="msger-chat">
    <div class="msg left-msg">
      <div class="msg-img" style="background-image: url('{% static 'UI/images/logo.jpg' %}')"></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">CoDev-20 Chatbot</div>
          <div class="msg-info-time"></div>
        </div>

        <div class="msg-text">
          Hi! Welcome to Codev-20 Chatbot! Go ahead and send me a message. 😄
        </div>
      </div>
    </div>

  </main>

  <form action="{% url 'website-chatbot-response' %}" id="msgform" class="msger-inputarea" autocomplete="off"
    method="POST">
    {% csrf_token %}
    <input type="text" class="msger-input" id="userMessage" name="userMessage"
      placeholder="Enter your message..."></input>
    <button type="button" id="talkButton" class="msger-send-btn" 23>Talk</button>
    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</section>


<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
<script>

  const msgerForm = get(".msger-inputarea");
  const msgerInput = get(".msger-input");
  const msgerChat = get(".msger-chat");


  // Icons made by Freepik from www.flaticon.com

  //const BOT_IMG = "{% static 'chatbot_website/images/logo.jpg' %}";
  const BOT_IMG = "{% static 'UI/images/logo.jpg' %}";
  //const BOT_IMG = "https://image.flaticon.com/icons/svg/327/327779.svg";
  //const PERSON_IMG = "https://image.flaticon.com/icons/svg/145/145867.svg";
  const PERSON_IMG = "{% static 'UI/images/user.png' %}";
  const BOT_NAME = "CoDev-20 Chatbot";
  const PERSON_NAME = '{{request.user.username}}';

  msgerForm.addEventListener("submit", event => {
    event.preventDefault();

    const msgText = msgerInput.value;
    if (!msgText) return;

    appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText, "");
    msgerInput.value = "";
    // $.post("/chatbot/response/", { csrfmiddlewaretoken: '{% csrf_token %}',msg: msgText }).done(function (data) {
    //   console.log(msgText);
    //   console.log(data);
    //   const returnText = data;
    //   appendMessage(BOT_NAME, BOT_IMG, "left", returnText);

    // });
    $.ajax({
      type: 'POST',
      url: '/chatbot/response/',
      data: {
        userMessage: msgText,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function (data) {
        msgerInput.value = "";
        const botMsg = data.data;
        //<audio src="url(${botAudio})"
        //const botAudio = "static/chatbot_website/audio/" + data.audio;
        //const botAudio = `<audio src=\"url(` + `\{\% static \'chatbot_website/audio/` + data.audio + `\' \%\})\" controls>`

        console.log(data.audio.toString());
        //console.log(botAudio)
        console.log(PERSON_IMG);
        var botAudio = "{% static 'UI/audio/#' %}".replace('#', data.audio)

        var botAudio = `<audio src = "` + botAudio + `" controls autoplay>`
        console.log(botAudio)
        appendMessage(BOT_NAME, BOT_IMG, "left", botMsg, botAudio);
      }
    })

    //console.log('here')
  });

  function appendMessage(name, img, side, text, botAudio) {
    //   Simple solution for small apps
    //console.log(botAudio)
    const msgHTML = `
<div class="msg ${side}-msg">
{% load static %}
<div class="msg-img" style="background-image:  url(${img})"></div>
<div class="msg-bubble">
  <div class="msg-info">
    <div class="msg-info-name">${name}</div>
    <div class="msg-info-time">${formatDate(new Date())}</div>
  </div>
  <div class="msg-text">${text}</div>
  ${botAudio}
</div>
</div>
`;

    //console.log(msgHTML)
    msgerChat.insertAdjacentHTML("beforeend", msgHTML);
    msgerChat.scrollTop += 500;
  }

  // Utils
  function get(selector, root = document) {
    return root.querySelector(selector);
  }

  function formatDate(date) {
    const h = "0" + date.getHours();
    const m = "0" + date.getMinutes();

    return `${h.slice(-2)}:${m.slice(-2)}`;
  }

  //for speech recognition
  window.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("talkButton");
    const result = document.getElementById("userMessage");
    const main = document.getElementsByTagName("input")[0];

    let listening = false;
    const SpeechRecognition =
      window.SpeechRecognition || window.webkitSpeechRecognition;
    if (typeof SpeechRecognition !== "undefined") {
      const recognition = new SpeechRecognition();

      const stop = () => {
        main.classList.remove("speaking");
        main.classList.add("msger-input");
        recognition.stop();
        button.textContent = "Talk";
      };

      const start = () => {
        main.classList.remove("msger-input");
        main.classList.add("speaking");
        recognition.start();
        button.textContent = "Stop";
      };

      const onResult = event => {
        result.innerHTML = "";
        for (const res of event.results) {
          //const text = document.createTextNode(res[0].transcript);
          //const p = document.createElement("p");
          if (res.isFinal) {
            result.value = res[0].transcript;
          }
          result.value = (res[0].transcript);
        }

      };
      recognition.continuous = true;
      recognition.interimResults = true;
      recognition.addEventListener("result", onResult);
      button.addEventListener("click", event => {
        listening ? stop() : start();
        listening = !listening;
      });
    } else {
      button.remove();
      const message = document.getElementById("message");
      message.removeAttribute("hidden");
      message.setAttribute("aria-hidden", "false");
    }
  });






</script>

{% endblock  %}