{% extends "UI/base.html" %}



{% block content %}
<div class="container">
    <div class="header-msg-container">
        <div class="header-msg-content">

            <div class="faq">
                <h1>What is CoDev-20 Chatbot?</h1>
                <p>Our chatbot provides several information about the Coronavirus.
                    It supports both text and speech/voice.
                </p>

                <h1>How to chat or talk with the bot?</h1>
                <p>
                    To navigate to the bot, just press <a href="{% url 'website-chatbot'  %}" style="color: #5DADE2;">this</a> or the <b><i>Chat with
                            us </i></b> button on
                    the navigation bar on top.<br>
                    From there you can type your questions and then press enter key or click the send button.<br>
                    Alternatively, you can talk to the bot by pressing the talk button to record your query and stop if you are finished.
                    You can see your query on the textbox. If it's correct just press the send button.
                </p>

                <h1>How to use the bot?</h1>
                <p>To use the bot, just ask questions regarding coronavirus like:</p>
                <ul>
                    <li>What is coronavirus?</li>
                    <li>How to avoid coronavirus?</li>
                    <li>What are the symptoms of coronavirus?</li>
                </ul>
                <p>We also included some statistics for the bot. Here are the available statistics</p>
                <ul>
                    <li><b>Confirmed</b> - Total confirmed cases in the Philippines</li>
                    <li><b>Deaths</b> - Total deaths in the Philippines</li>
                    <li><b>Recovered</b> - Total recoveries in the Philippines</li>
                    <li><b>Admitted</b> - Total admitted cases in the Philippines</li>
                    <li><b>Today</b> - latest new cases, deaths, and recoveries</li>
                    <li><b>Rates</b> - fatality and recovery rates</li>
                </ul>

            </div>
        </div>
    </div>
</div>


{% endblock content %}