{% extends "UI/base.html" %}

{% block content %}
<div class="signup-container">
    <div class="signup-box">
        <label>
            <h1>Sign Up</h1>
        </label>
        <!-- <form method="post" action="signup.php" autocomplete="off"></form> -->
        <form method="post" autocomplete="off">
            {% csrf_token %}
            
            {% for field in registration_form %}
            <p>
                {{field}}

                {% for error in field.errors %}
                <div class="error-holder">
                    <label>
                        {{error}}
                    </label>
                </div>
                {% endfor %}

            </p>
            {% endfor %}

            

            {% if registration_form.non_field_errors %}
            <div class="error-holder">
                <label>
                    {{registration_form.non_field_errors}}
                </label>
            </div>
            {% endif %}
            <!--
                    
                    <input type="text" name="txtUsername" placeholder="Username" value="" /><br />
                    <input type="text" name="txtFirstName" placeholder="First Name" value="" /><br />
                    <input type="text" name="txtLastName" placeholder="Last Name" value="" /><br />
                    <input type="text" name="txtEmail" placeholder="Email" value="" /><br />
                    <input type="password" name="txtPassword" placeholder="Password" /><br />
                    <input type="password" name="txtConfPassword" placeholder="Confirm Password" /><br />
                    -->
            <div class="signup-button-holder">
                <input type="submit" name="btnSignUp" value="SIGN UP" />
            </div>
            <div class="anchor-holder">
                Already have an account? <a href="../login/">Login</a>
            </div>


        </form>
    </div>
</div>

{% endblock content %}