{% extends "chatbot_website/base.html" %}

    

{% block content %}
<div class="whole-container">
    <div class="aboutus-content">
        <h1>About Us</h1>
        <p>The team is composed of 6 members:</p>
        <ul style="padding-left: 25px;">
            <li style="list-style: circle;">Gian Karlo Madrid - Backend</li>
            <li style="list-style: circle;">Ethan James Reyes - Data Scientist</li>
            <li style="list-style: circle;">John Rivera - Frontend</li>
            <li style="list-style: circle;">Rendell Sheen Suliva - Frontend</li>
            <li style="list-style: circle;">Clint Aldrin Valencia - Backend</li>
            <li style="list-style: circle;">Rane Gillian Villanueva - Fullstack</li>
        </ul>
    </div>
    <div class="missionvision-content">
        <h1>Mission</h1>
        <p>Our mission is to help people be aware of covid-19 and how to fight against it.</p>
        <h1>Vision</h1>
        <p>To be successful team of Developers with helping to be the first goal.</p>
    </div>
</div>

{% endblock content %}