{% extends "chatbot_website/base.html" %}

    

{% block content %}
<div class="whole-container">
    <div class="aboutus-content">
        <h1>About Us</h1>
        <p>Company was founded by 6 members who's doing their work so hard.</p>
    </div>
    <div class="missionvision-content">
        <h1>Mission</h1>
        <p>Our mission is to help people be aware of covid-19 and how to fight against it.</p>
        <h1>Vision</h1>
        <p>This is our company's mission.</p>
    </div>
</div>

{% endblock content %}