*
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: arial;
	text-decoration: none;
	box-sizing: border-box;
}
html, body
{
	height: 100%;
	width: 100%;
	background: url(../img/landscape1.jpg) no-repeat center center fixed;
    	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: lightblue;
  outline: 1px solid slategrey;
}

.wrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
}
/*** Header ***/
.header-container
{
	height: 53px;
	background-color: #f6f6f6;
	position: fixed;
	width: 100%;
}
.header-content
{
	height: 100%;
	max-width: 1250px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
}
.companytitle
{
	float: left;
	height: 100%;
}
.companytitle a
{
	display: block;
	padding: 10px 6px 10px 6px;
	font-size: 30px;
	font-family: arial;
	color: black;
	transition: all 0.3s ease 0s;
}
.companytitle a:hover
{
	background-color: black;
	color: white;
}
/*** Navigation ***/
.navi
{
	float: right;
	height: 100%;
	margin-right: 10px;
}
.navi ul, ol
{
	float: right;
	display: inline-flex;
}
.navi ul li a
{
	display: block;
	padding: 18px 13px 18px 13px;
	font-size: 15px;
	background-color: none;
	color: black;
	position: relative;
	transition: all 0.3s;
}
.navi ol li a
{
	display: block;
	padding: 18px 13px 18px 13px;
	font-size: 15px;
	font-weight: bold;
	background-color: #4285f4;
	color: white;
	position: relative;
	transition: all 0.3s;
}
.navi ul li a:hover
{
	background-color: black;
	color: white;
}
.navi ol li a:hover
{
	background-color: #2E86C1;
}

.logout-holder
{
	float: right;
	height: 100%;
	margin-left: 20px;
	padding-top: 5px;
}
.button-submit-logout
{
	margin-top: 10px;
	padding: 4px 18px 4px 18px;
	border: 2px solid #5dade2;
	border-radius: 20px;
	background-color: transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}
.button-submit-logout:hover
{
	color: white;
	background-color:  #2e86c1;
}

.admin-title-holder
{
	float: right;
	height: 100%;
	margin-top: 13px;
	font-family: arial;
	font-size: 15px;
}

.selector-container
{
	width: 100%;
	height: 30px;
	background-color: grey;
	margin-top: 53px;
}
.selector-content
{
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 355px;
}
.selector
{
	height: 100%;
	display: inline-block;
}
.selector ul
{
	display: inline-flex;
}
.selector ul li a
{
	display: block;
	padding: 6.5px 6px 6.5px 6px;
	font-family: arial;
	font-size: 14px;
	color: white;
	background-color: rgba(0,0,0, 0.5);
	margin-left: 2.5px;
	margin-right: 2.5px;
	transition: all 0.3s ease 0s;
}
.selector ul li a:hover
{
	background-color: black;
}

.target-frame
{
	padding: 0;
	margin: 0;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	flex: 1;
	border: 0;
	background-color: rgba(0,0,0, 0.8);
}
.editor-content
{
	display: inline-block;
}
.button-edit-submit
{
	margin-left: 8px;
	padding: 8px;
	text-align: center;
	border: 2px solid #5dade2;
	border-radius: 50%;
	background-color: transparent;
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}
.button-edit-submit:hover
{
	background-color: #2e86c1;
}
.button-edit-submit:active
{
	background-color: #2874a6;
}
.text-input-edit
{
	padding: 3px;
	font-size: 17px;
	font-family: arial;
	color: white;
	width: 175px;
	border: 1px solid lightblue;
	background-color: transparent;
}
.text-area-edit
{
	padding: 3px;
	font-size: 17px;
	height: 100px;
	width: 300px;
	color: white;
	border: 1px solid lightblue;
	background-color: transparent;
}

/***** Login Design *****/
.login-container
{
	flex: 1;
	text-align: center;
	background-color: rgba(0,0,0, 0.5);
}
.login-box
{
	display: inline-block;
	text-align: left;
	padding: 20px 40px 20px 40px;
	margin-top: 125px;
	background-color: rgba(0,0,0, 0.8);
	color: white;
	border: 0px;
	border-radius: 3px;
}
.login-box h1
{
	text-align: center;
	font-size: 40px;
}
.login-box input[type="text"], .login-box input[type="password"]
{
	padding: 10px;
	width: 240px;
	font-size: 18px;
	border: 1px solid #fff;
	border-radius: 2px;
	margin-top: 12px;
	transition: box-shadow 0.1s;
}
.login-box input[type="text"]:focus, .login-box input[type="password"]:focus
{
	box-shadow: 0 0 10px #85C1E9;
}
.anchor-holder
{
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
}
.login-box a
{
	color: white;
	margin-top: 10px;
}
.login-box a:hover
{
	text-decoration: underline;
}
.login-button-holder
{
	text-align: center;
}
.login-box input[type="submit"]
{
	width: 125px;
	padding: 10px;
	margin-top: 10px;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	border: 0px solid #fff;
	border-radius: 2px;
	background-color: #4285f4;
	transition: background-color 0.1s ease;
	cursor: pointer;
}
.login-box input[type="submit"]:hover
{
	background-color: #2E86C1;
	color: white;
}

/***** Sign Up Design *****/
.signup-container
{
	flex: 1;
	text-align: center;
	background-color: rgba(0,0,0, 0.5);
}
.signup-box
{
	display: inline-block;
	text-align: left;
	padding: 25px 50px 25px 50px;
	margin-top: 150px;
	background-color: rgba(0,0,0, 0.8);
	color: white;
	border: 0px;
	border-radius: 3px;
}
.signup-box h1
{
	text-align: center;
	font-size: 40px;
}
.signup-box input[type="text"], .signup-box input[type="password"]
{
	padding: 8px;
	width: 240px;
	font-size: 18px;
	border: 1px solid #fff;
	border-radius: 2px;
	margin-top: 15px;
	transition: box-shadow 0.1s;
}
.signup-box input[type="text"]:focus, .signup-box input[type="password"]:focus
{
	box-shadow: 0 0 10px #85C1E9;
}
.signup-box a
{
	color: #5DADE2;
	margin-top: 10px;
}
.signup-box a:hover
{
	text-decoration: underline;
}
.signup-button-holder
{
	text-align: center;
}
.signup-box input[type="submit"]
{
	width: 125px;
	padding: 10px;
	margin-top: 15px;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	border: 0px solid #fff;
	border-radius: 2px;
	background-color: #4285f4;
	transition: background-color 0.1s ease;
	cursor: pointer;
}
.signup-box input[type="submit"]:hover
{
	background-color: #2E86C1;
}
/*** Main Content ***/
.main-content-container
{
	margin-top: 53px;
	flex: 1;
	background-color: rgba(0,0,0, 0.3);
}
.main-intro
{
	width: 1000px;
	height: 100%;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.left-box
{
	width: 49%;
	float: left;
}
.intro-welcome-first-header
{
	padding: 10px;
	margin-bottom: 25px;
}
.intro-welcome-first-header h1
{
	font-family: arial;
	font-size: 28px;
	color: white;
}
.intro-welcome-first-msg
{
	padding: 10px;
	font-family: arial;
	font-size: 21px;
	text-align: justify;
	color: white;
}
.intro-welcome-second-header
{
	padding: 10px;
	margin-top: 50px;
}
.intro-welcome-second-header h2
{
	font-family: arial;
	font-size: 20px;
	text-align: justify;
	color: white;
}
.intro-welcome-second-msg
{
	padding: 10px;
	margin-top: 50px;
	font-family: arial;
	font-size: 21px;
	text-align: justify;
	color: white;
}
.intro-welcome-second-msg a
{
	color: #5dade2;
}
.intro-welcome-second-msg a:hover
{
	border-bottom: 2px solid #5dade2;
}
.right-box
{
	float: right;
}

.button-submit
{
	margin-top: 10px;
	padding: 4px 18px 4px 18px;
	text-align: center;
	width: 200px;
	border: 2px solid #5dade2;
	border-radius: 20px;
	background-color: transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}
/*** Login ***/
/*.login-box
{
	float: right;
	width: 270px;
	margin-top: 4px;
	padding: 18px 15px 12px 15px;
	background-color: rgba(0,0,0, 0.5);
}
.login-header
{
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}
.login-header h1
{
	width: 214px;
	margin: 0 auto;
	font-family: arial;
	font-size: 30px;
	color: white;
}
.login-input-holder
{
	width: 100%;
	padding: 0px 0px 10px 0px;
	text-align: center;
}
.text-input-widen
{
	width: 200px;
	padding: 5px;
	margin: 5px;
	border-top: 0;
	border-left: 0;
	border-bottom: 1px solid white;
	border-right: 0;
	background-color: transparent;
	font-family: arial;
	font-size: 15px;
	color: white;
}

.button-submit-custom-width
{
	width: 100px;
}
.button-submit:hover
{
	background-color:  #2e86c1;
}
.button-submit:active
{
	background-color: #2874a6;
}

/*** Signup ***/
/*
.signup-box
{
	width: 270px;
	float: right;
	margin-top: 10px;
	padding: 18px 15px 12px 15px;
	background-color: rgba(0,0,0, 0.5);
}
.signup-header
{
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}
.signup-header h1
{
	width: 214px;
	margin: 0 auto;
	font-family: arial;
	font-size: 30px;
	color: white;
}
.signup-input-holder
{
	width: 100%;
	padding: 0px 0px 10px 0px;
	text-align: center;
}

.footer-container
{
	width: 100%;
	background-color: rgba(0,0,0, 0.3);
}
.footer-content
{
	height: 100%;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
}
.footer-left-box
{
	padding: 10px;
	float: left;
	width: 50%;
}
.footer-left-box a
{
	font-family: arial;
	font-size: 15px;
	color: white;
}
.footer-left-box a:hover
{
	text-decoration: underline;
}*/

/*** Misc ***/
.error-holder
{
	width: 240px;
}
.error-holder label
{
	font-size: 13px;
	color: #FF4302;
}

.error-container
{
	margin-top: 5px;
	margin-left: 9px;
	display: inline-block;
}
.error-des
{
	padding: 1px;
	font-family: arial;
	font-size: 14px;
	color: white;
}
.error-message
{
	width: 100%;
	text-align: center;
	font-family: arial;
	font-size: 14px;
	color: white;
	background-color: rgb(255, 51, 51);
}

.notice-message
{
	width: 100%;
	padding: 7px;
	text-align: center;
	font-family: arial;
	font-size: 15px;
	color: white;
	margin-top: 53px;
	position: fixed;
	background-color: rgb(57, 223, 38);
}
.notice-error
{
	width: 100%;
	padding: 7px;
	text-align: center;
	font-family: arial;
	font-size: 15px;
	color: white;
	margin-top: 53px;
	position: fixed;
	background-color: rgb(245, 85, 85);
}

.notice-message-editor
{
	width: 100%;
	padding: 7px;
	text-align: center;
	font-family: arial;
	font-size: 15px;
	color: white;
	position: fixed;
	background-color: rgb(57, 223, 38);
}
.notice-error-editor
{
	width: 100%;
	padding: 7px;
	text-align: center;
	font-family: arial;
	font-size: 15px;
	color: white;
	position: fixed;
	background-color: rgb(245, 85, 85);
}

/***** Home *****/
.container
{
	margin-top: 53px;
	flex: 1;
	background-color: rgba(0,0,0, 0.5);
}

/***** Showcase Design *****/
.header-msg-container
{
	max-width: 950px;
	margin: 20px auto 20px auto;
}
.header-msg-content
{
	padding: 20px 20px 40px 20px;
}
.header-msg
{
	width: 100%;
	text-align: center;
}
.header-msg h1
{
	color: white;
	padding: 25px;
	font-size: 50px;
}
.header-msg h3
{
	margin-top: 40px;
	color: white;
	text-align: justify;
	font-size: 20px;
}

.sub-msg
{
	width: 100%;
	text-align: center;
}
.sub-msg h1
{
	color: white;
	font-size: 40px;
}
.sub-msg h3
{
	margin-top: 50px;
	color: white;
	font-size: 20px;
}

.sub-msg a
{
	color: lightblue;
	font-weight: bold;
}
.sub-msg a:hover
{
	text-decoration: underline;
}

.showcase-container
{
	width: 100%;
	height: 400px;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-flex;
	margin-bottom: 50px;
}
.showcase-img
{
	min-width: 400px;
	min-height: 400px;
	border-radius: 50%;
	border: 1px;
}
.showcase-msg
{
	text-align: justify;
	max-width: 60%;
	margin-left: 50px;
	margin-right: 50px;
	height: 100%;
}
.showcase-msg h1
{
	text-align: center;
	margin-bottom: 20px;
	font-size: 40px;
	color: white;
}
.showcase-msg h3
{
	margin-bottom: 20px;
	color: white;
}
.showcase-msg p
{
	font-size: 20px;
	color: white;
	margin-bottom: 60px;
}

.showcase-container-reverse
{
	width: 100%;
	height: 400px;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-flex;
	margin-bottom: 50px;
}
.showcase-container-reverse img
{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 1px;
	float: right;
}
.showcase-img-reverse
{
	min-width: 400px;
	min-height: 400px;
	border-radius: 50%;
	border: 1px;
}
.showcase-msg-reverse
{
	text-align: justify;
	max-width: 60%;
	margin-left: 50px;
	margin-right: 50px;
	height: 100%;
}
.showcase-msg-reverse h1
{
	margin-bottom: 20px;
	font-size: 40px;
	color: white;
	text-align: center;
}
.showcase-msg-reverse h3
{
	margin-bottom: 20px;
	color: white;
}
.showcase-msg-reverse p
{
	font-size: 20px;
	color: white;
	margin-bottom: 60px;
}
/***** *****/

/****** Greetings Design *****/
.greetings-container
{
	width: 1250px;
	margin: 20px auto 20px auto;
}
.greetings-content
{
	padding: 20px 20px 40px 20px;
}
.greetings-header
{
	width: 100%;
	text-align: center;
}
.greetings-header h1
{
	color: white;
	font-family: arial;
	font-size: 40px;
}
.menu
{
	max-width: 1250px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}
.menu-img
{
	float: left;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 1px;
}
.menu-msg
{
	float: right;
	width: 60%;
	padding-left: 25px;
	padding-right: 150px;
	height: 100%;
}
.menu-msg h1
{
	margin-bottom: 20px;
	font-family: arial;
	font-size: 40px;
	color: white;
}
.menu-msg h3
{
	margin-bottom: 20px;
	font-family: arial;
	color: white;
}
.menu-msg p
{
	font-family: arial;
	text-align: justify;
	font-size: 20px;
	color: white;
	margin-bottom: 60px;
}
.menu-msg a
{
	padding: 8px 11px 8px 11px;
	background-color: transparent;
	border: 2px solid #5dade2;
	border-radius: 5px;
	font-family: arial;
	font-size: 30px;
	color: white;
	transition: all 0.2s ease 0s;
	margin-left: auto;
	margin-right: auto;
}
.menu-msg a:hover
{
	background-color:  #2e86c1;
}
.menu-msg a:active
{
	background-color: #2874a6;
}

.menu-buynow
{
	padding: 8px 11px 8px 11px;
	background-color: transparent;
	border: 2px solid #5dade2;
	border-radius: 5px;
	font-family: arial;
	font-size: 30px;
	color: white;
	transition: all 0.2s ease 0s;
	margin-left: auto;
	margin-right: auto;
}
.menu-buynow:hover
{
	background-color:  #2e86c1;
}
.menu-buynow:active
{
	background-color: #2874a6;
}

.menu-img-reverse
{
	float: right;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 1px;
}
.menu-msg-reverse
{
	float: left;
	width: 60%;
	padding-left: 150px;
	padding-right: 25px;
	height: 100%;
	text-align: right;
}
.menu-msg-reverse h1
{
	margin-bottom: 20px;
	font-family: arial;
	font-size: 40px;
	color: white;
	text-align: right;
}
.menu-msg-reverse h3
{
	margin-bottom: 20px;
	font-family: arial;
	color: white;
}
.menu-msg-reverse p
{
	font-family: arial;
	text-align: justify;
	font-size: 20px;
	color: white;
	margin-bottom: 60px;
	text-align: right;
}
.menu-msg-reverse a
{
	padding: 8px 11px 8px 11px;
	background-color: transparent;
	border: 2px solid #5dade2;
	border-radius: 5px;
	font-family: arial;
	font-size: 30px;
	color: white;
	transition: all 0.2s ease 0s;
	margin-left: auto;
	margin-right: auto;
}
.menu-msg-reverse a:hover
{
	background-color:  #2e86c1;
}
.menu-msg-reverse a:active
{
	background-color: #2874a6;
}
/***** *****/

.company-editor-title
{
	font-family: arial;
	color: white;
	text-align: center;
	padding: 25px 25px 15px 25px;
}
.company-editor-left-box
{
	color: white;
	font-family: arial;
	width: 50%;
	float: left;
	padding: 10px 20px 10px 20px;
}
.company-editor-left-box h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}
.company-editor-right-box
{
	color: white;
	font-family: arial;
	width: 50%;
	float: right;
	padding: 10px 20px 10px 20px;
	background-color: (0,0,0, 0.5);
}
.company-editor-right-box h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}
.edit-sector
{
	margin-bottom: 10px;
}
.edit-sector input[type="radio"]
{
	display: none;
}
.show-hide-comp-title
{
	margin-top: 0;
	margin-bottom: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0s, margin-top 0s, margin-bottom 0s ease-in;
	/*
	transition: opacity 1s;
	opacity: 0;
	height: 0;
	overflow: hidden;
	*/
}
.edit-sector input[type="radio"]:checked ~ .show-hide-comp-title
{
	max-height: 500px;
  	transition: max-height 1s, margin-top 0.3s, margin-bottom 0.3s ease-out;
	/*
	opacity: 1;
	height: auto;
	*/
}
.edit-sector label
{
	display: block;
	padding: 7px 20px 7px 20px;
	cursor: pointer;
	border: 1px;
	background-color: #979A9A;
	display: inline-block;
	font-size: 16px;
	font-family: arial;
	transition: box-shadow 0.1s, background-color 0.1s;
}
.edit-sector label:hover
{
	background-color: #B3B6B7;
	box-shadow: 0 12px 16px 0 rgba(255,255,255, 0.24), 0 17px 50px 0 rgba(255,255,255, 0.19);
}
/***** Product Editor Designs *****/
.product-editor-title
{
	font-family: arial;
	color: white;
	text-align: center;
	padding: 25px 25px 15px 25px;
}
.product-list-container
{
	padding: 10px 20px 10px 20px;
	float: left;
	font-family: arial;
	color: white;
	width: 67%;
}
.product-list-container h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}
.product-list-container table
{
	border: 1px solid white;
	text-align: center;
}
.product-list-container table td, th
{
	padding: 7px;
	font-size: 15px;
}
.product-editor-container
{
	padding: 10px 20px 10px 20px;
	float: right;
	font-family: arial;
	color: white;
	width: 33%;
}
.product-editor-container h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}
.select-product-edit
{
	padding: 5px;
	font-family: arial;
	font-size: 15px;
	background: transparent;
	color: white;
}
.select-product-edit option
{
	color: black;
	background: transparent;
}
.select-product-edit
{
	background: transparent;
}
/***** Account Editor Designs *****/
.account-editor-title
{
	font-family: arial;
	color: white;
	text-align: center;
	padding: 25px 25px 15px 25px;
}
.account-editor-list-left-box
{
	padding: 10px 20px 10px 20px;
	float: left;
	font-family: arial;
	color: white;
	width: 67%;
}
.account-editor-list-left-box h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}
.account-editor-list-left-box table
{
	border: 1px solid white;
	text-align: center;
}
.account-editor-list-left-box table td, th
{
	padding: 7px;
	font-size: 15px;
}
.account-editor-right-box
{
	padding: 10px 20px 10px 20px;
	float: right;
	font-family: arial;
	float: right;
	color: white;
	width: 33%;
}
.account-editor-right-box h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}

/**** Order Editor design *****/
.orders-title
{
	font-family: arial;
	color: white;
	text-align: center;
	padding: 25px 25px 25px 25px;
}
.orders-holder h2
{
	text-align: center;
	font-family: arial;
	color: white;
}
.orders-holder table
{
	text-align: center;
	border: 1px solid #fff;
	margin: 0 auto 0 auto;
}
.orders-holder table td, th
{
	padding: 10px;
	font-family: arial;
	font-size: 15px;
	color: white;
}
/***** Cart's Design *****/
.cart-content-container
{
	padding-top: 20px;
	flex: 1;
	background-color: rgba(0,0,0, 0.5);
	font-family: arial;
	color: white;
}
.cart-main
{
	width: 1000px;
	margin-top: 53px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.cart-title
{
	width: 100%;
	padding: 15px 0px 5px 0px;
}
.cart-left-box
{
	width: 50%;
	padding: 10px 20px 10px 20px;
	float: left;
}
.cart-left-box h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}
.cart-left-box table
{
	border: 1px solid white;
	text-align: center;
}
.cart-left-box table td, th
{
	padding: 10px;
	font-size: 16px;
}
.cart-right-box
{
	width: 50%;
	padding: 10px 20px 10px 20px;
	float: right;
}
.cart-right-box h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}
.cart-right-box h4
{
	margin-bottom: 20px;
}
.link-to-account-address
{
	color: lightblue;
	font-weight: bold;
}
.link-to-account-address:hover
{
	text-decoration: underline;
}
.check-out
{
	text-decoration: none;
	background-color: transparent;
	padding: 10px;
	color: white;
	border: 1px solid lightblue;
	border-radius: 2px;
	transition: background-color 0.2s;
}
.check-out:hover
{
	background-color: #2e86c1;
}
.button-delete-qty
{
	color: red;
	font-weight: bold;
	background: transparent;
	border: none;
	cursor: pointer;
}
.button-delete-qty:hover
{
	text-decoration: underline;
}
.textarea-design
{
	background: transparent;
	padding: 5px;
	border: 1px solid #5dade2;
	font-family: arial;
	font-size: 15px;
	color: white;
	width: 300px;
	height: 100px;
}
/***** Account Page Design *****/
.account-content-container
{
	font-family: arial;
	color: white;
	margin-top: 53px;
	flex: 1;
	background-color: rgba(0,0,0, 0.5);
}
.account-main-content
{
	width: 1250px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.account-title
{
	padding: 25px 25px 15px 25px;
}
.account-left-box
{
	float: left;
	padding: 10px 15px 10px 15px;
	width: 49%;
	text-align: left;
}
.account-left-box h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}
.account-right-box
{
	float: right;
	padding: 10px 15px 10px 15px;
	width: 49%;
	text-align: left;
}
.account-right-box table
{
	border: 1px solid white;
	text-align: center;
}
.account-right-box table td, th
{
	padding: 7px;
	font-size: 13px;
}
.account-right-box h2
{
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}

/***** Modal *****/
.overlay
{
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0,0,0, 0.7);
  	transition: opacity 500ms;
  	visibility: hidden;
  	opacity: 0;
}
#confirm-checkout:target
{
	visibility: visible;
	opacity: 1;
}
.modal
{
	margin: 200px auto;
  	padding: 25px;
  	background: rgba(0,0,0, 0.7);;
  	border-radius: 5px;
  	width: 325px;
  	position: relative;
  	transition: all 5s ease-in-out;
}
.modal h3
{
	margin-bottom: 30px;
}
#confirm-checkout:target
{
	visibility: visible;
	opacity: 1;
}
#see-details:target
{
	visibility: visible;
	opacity: 1;
}
.close-modal
{
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	transition: all 0.2s;
}
.close-modal:hover
{
	color: red;
}
/***** See Details Modal *****/
.overlay-see-details
{
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	transition: opacity 500ms;
  	transition: all 500ms;
  	visibility: hidden;
  	opacity: 0;
}
#see-details:target
{
	visibility: visible;
	opacity: 1;
}
.modal-see-details
{
	margin: 125px auto;
  	padding: 25px;
  	background: rgba(0,0,0, 1);
  	border-radius: 5px;
  	width: 325px;
  	position: relative;
  	transition: all 0.2s ease-in-out;
  	color: white;
  	font-family: arial;
}
.modal-see-details h3
{
	margin-bottom: 10px;
}
.close-modal-see-details
{
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
.close-modal-see-details:hover
{
	color: red;
}
/***** Confirm Receive Modal *****/
.overlay-confirm-receive
{
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	transition: opacity 500ms;
  	visibility: hidden;
  	opacity: 0;
}
#confirm-delivered:target
{
	visibility: visible;
	opacity: 1;
}
.modal-confirm-receive
{
	margin: 125px auto;
  	padding: 25px;
  	background: rgba(0,0,0, 1);
  	border-radius: 5px;
  	width: 325px;
  	position: relative;
  	transition: all 0.2s ease-in-out;
  	color: white;
  	font-family: arial;
}
.modal-confirm-receive h3
{
	margin-bottom: 10px;
}
.close-modal-confirm-receive
{
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
.close-modal-confirm-receive:hover
{
	color: red;
}
/***** Confirm Checkout Modal *****/
.button-see-details
{
	background: transparent;
	border: 0;
	font-size: 15px;
	font-family: arial;
	color: lightblue;
	cursor: pointer;
}
.button-see-details:hover
{
	text-decoration: underline;
}
.receive-button
{
	background: transparent;
	border: 0;
	font-size: 15px;
	font-family: arial;
	color: rgb(102, 255, 102);
	cursor: pointer;
}
.receive-button:hover
{
	text-decoration: underline;
}
/***** Audit Trail *****/
.AuditTrail-title
{
	font-family: arial;
	color: white;
	text-align: center;
	padding: 25px 25px 25px 25px;
}
.AuditTrail-holder h2
{
	text-align: center;
	font-family: arial;
	color: white;
}
.AuditTrail-holder table
{
	text-align: center;
	border: 1px solid #fff;
	margin: 0 auto 0 auto;
}
.AuditTrail-holder table td, th
{
	padding: 10px;
	font-family: arial;
	font-size: 15px;
	color: white;
}

/***** About Us *****/
.whole-container
{
	width: 100%;
	height: 100%;
	margin-top: 53px;
	padding: 50px 100px 100px 100px;
	background-color: rgba(0,0,0, 0.5);
}

.aboutus-content
{
	color: white;
}
.aboutus-content h1
{
	margin-bottom: 15px;
	font-size: 45px;
}
.aboutus-content p
{
	font-size: 20px;
}

.missionvision-content
{
	color: white;
	margin-top: 100px;
}
.missionvision-content h1
{
	margin-bottom: 10px;
	font-size: 45px;
}
.missionvision-content p
{
	font-size: 20px;
	margin-bottom: 30px;
}